<div class="orders-container">

  <h1>My Orders</h1>

  <div
    class="order-card"
    *ngFor="let order of orders"
  >

    <div class="order-header">

      <div class="order-info">

        <h2>Order #{{ order.id }}</h2>

        <p><strong>Total:</strong> ₹ {{ order.total }}</p>

        <p>
          <strong>Order Status:</strong>
          <span class="status">
            {{ order.status }}
          </span>
        </p>

        <p>
          <strong>Payment Status:</strong>
          {{ order.payment?.status }}
        </p>

      </div>

      <div
        class="address-box"
        *ngIf="order.address"
      >

        <h3>Shipping Address</h3>

        <p>{{ order.address.fullName }}</p>

        <p>{{ order.address.mobile }}</p>

        <p>{{ order.address.address }}</p>

        <p>
          {{ order.address.city }},
          {{ order.address.state }}
        </p>

        <p>{{ order.address.pincode }}</p>

      </div>

    </div>

    <hr>

    <h3>Order Items</h3>

    <div
      class="item-row"
      *ngFor="let item of order.items"
    >
      <p>
        <strong>{{ item.product.name }}</strong>
      </p>

      <p>
        Qty: {{ item.quantity }}
      </p>
    </div>

  </div>

</div>