<div class="cart-container">

  <h1>
    Cart Page
  </h1>

  <div
    class="cart-item"

    *ngFor="
      let item of cartItems
    "
  >

    <h2>
      {{ item.product.name }}
    </h2>

    <p>
      Price:
      ₹ {{ item.product.price }}
    </p>

    <p>
      Quantity:
      {{ item.quantity }}
    </p>

    <button
      (click)="removeCartItem(item.id)"
    >
      Remove
    </button>

    <hr>

  </div>

  <h2>
    Total:
    ₹ {{ total }}
  </h2>

  <hr>

  <h2>
    Shipping Address
  </h2>

  <div
    class="address-card"

    *ngIf="defaultAddress"
  >

    <strong>
      {{ defaultAddress.fullName }}
    </strong>

    <p>
      {{ defaultAddress.mobile }}
    </p>

    <p>
      {{ defaultAddress.address }}
    </p>

    <p>
      {{ defaultAddress.city }}
      -
      {{ defaultAddress.pincode }}
    </p>

    <p>
      {{ defaultAddress.state }}
    </p>

  </div>

  <div *ngIf="!defaultAddress">

    <p>
      No default address selected
    </p>

  </div>

  <a routerLink="/list">

    Change Address

  </a>

  <br><br>

  <button
    (click)="checkout()"
  >
    Checkout
  </button>

</div>